.about{
	padding: 75px 0;
	article{
		padding-top: 75px
	}

}

.info{
	background-color: #ebebeb;
	h1{
		color: #37a7a2;
		border-bottom: 2px solid #37a7a2;
		line-height: 1.8;
	}
	img{
		margin-bottom: 30px;
	}
	.row > div:not(:last-of-type){
		@media screen and (max-width: 1024px){
			margin-bottom: 50px;
		}
		}
}

.perks{
	background-color: #b5dbf2;
	h1{
		text-align: center;
		color: #464646;
		padding: 0 15px;
		@includes small{
			padding: 0;
		}
	}
	p{
		font-size: 14px;
		color: #737373;
	}
	.perk{
		padding-bottom: 20px;
	}
	img{
		width: auto;

	}
	.icon{
		text-align: center;
	}

}
