.info{
	background-color: #ebebeb;
	h1{
		color: #37a7a2;
		border-bottom: 2px solid #37a7a2;
		line-height: 1.8;
	}
	img{
		margin-bottom: 30px;
	}
	.row > div:not(:last-of-type){
		@media screen and (max-width: 1024px){
			margin-bottom: 50px;
		}
		}
}