.perks{
	background-color: #b5dbf2;
	h1{
		text-align: center;
		color: #464646;
		padding: 0 15px;
		@includes small{
			padding: 0;
		}
	}
	p{
		font-size: 14px;
		color: #737373;
	}
	.perk{
		padding-bottom: 20px;
	}
	img{
		width: auto;

	}
	.icon{
		text-align: center;
	}

}
