@font-face {
    font-family: 'okojo';
    src: url('../../../fonts/Flama-Bold.eot');
    src: url('../../../fonts/Flama-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Flama-Bold.woff2') format('woff2'),
         url('../../../fonts/Flama-Bold.woff') format('woff'),
         url('../../../fonts/Flama-Bold.ttf') format('truetype'),
         url('../../../fonts/Flama-Bold.svg#okojobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'okojo';
    src: url('../../../fonts/okojo-webfont.eot');
    src: url('../../../fonts/okojo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/okojo-webfont.woff2') format('woff2'),
         url('../../../fonts/okojo-webfont.woff') format('woff'),
         url('../../../fonts/Flama-Book.ttf') format('truetype'),
         url('../../../fonts/okojo-webfont.svg#okojoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'okojo', 'Helvetica';
    color: #323a3e;
}


h1{

	line-height: 1.2;
	font-weight: bold;
    margin-top: 0;
    color: #0095d8;
    &.light{
        font-weight: normal;
    }
    &.large{
        font-size: 52px;
    }
}

h2{
	font-size: 25px;
	font-weight: normal;
	line-height: 1.2;
    @include medium{
        font-size: 30px;
    }
}

p{
	font-size: 1.2em;
    line-height: 1.5;
}

.white{
    color: #FFF;
}

main{
    h1{
        font-size: 27px;
        font-weight: normal;
    }
}